.hero-content {
  color: #000000;
  background-color: rgba(36, 171, 112, 0.04);
  border-top-left-radius: 50px;
}

.hero-content h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  padding-bottom: 30px;
}

.hero-content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 50px;
}

.search-bar {
    padding: 0 60px;
    bottom: 41px;
}