.logo {
  display: flex;
  justify-content: start;
  cursor: pointer;
}

.login {
  display: flex;
  justify-content: end;
}

.login button:hover {
  background-color: var(--color-secondary-1);
  color: #222222;
}
