@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --color-primary: rgba(36, 171, 112, 1);
  --color-secondary-1: rgba(36, 171, 112, 0.2);
  --color-secondary-2: rgba(249, 249, 249, 1);

  font-family: "Open Sans", sans-serif;
}
